@import "fz.css";

:root {
  font-size: 18px !important;
}

a:not(.credits):not(.page-link),
a:hover:not(.credits):not(.page-link),
header button {
  color: inherit !important;
  text-decoration: none !important;
}

/*--------------------------------------------------------------------------*/

/* HEADER */
header {
  box-shadow: 0 6px 8px -5px #00000050;
}

.theme-toggle {
  width: 155px !important;
}

/* MAIN */
.card,
#details {
  text-align: initial;
}

.card {
  transition: all 0.3s ease;
  width: 15rem;
  height: 22rem;
  vertical-align: bottom;
}

.card:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.card-img-wrapper {
  height: 10rem;
}

.card-img-top {
  max-height: 10rem;
  object-fit: cover;
}
