/* THEME TOGGLE DARK / LIGHT */

body.light-theme {
  background-color: #FAFAFA;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    --color: #222;
    --background: #eee;
    --text: 'light';
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --background: #222;
    --text: 'dark';
  }
}
*/
